.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-avatar {
  cursor: pointer;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-avatar-section {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Position below the avatar */
  right: 0; /* Align to the right side */
}

/* Main Page styles */
.main-page .container { max-width: 800px; margin: auto; padding-top: 20px; }
.main-page h1 { color: #333366; }
.main-page p { margin: 10px 0; }
.main-page .features { margin: 20px 0; }
.main-page .feature { font-weight: bold; }
.main-page .login { background-color: #f4f4f4; padding: 10px; margin-top: 20px; }
.main-page .login p { color: #333; }
/* End of Main Page styles */
